{% extends 'base.html.twig' %}

{% block title %}Crear tarea{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h3>Crear tarea</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
