<header id="header">
    <h2>Tareas Symfony</h2>
    <ul id="menu">
        <li><a href="{{path('tasks')}}">Inicio</a></li>
        <li><a href="">Mis tareas</a></li>
        <li><a href="{{path('login')}}">Login</a></li>
        <li><a href="{{path('register')}}">Registrarse</a></li>
    </ul>
</header>
<div class="clearfix"></div>