{% extends 'base.html.twig' %}

{% block title %}Mis tareas{% endblock %}

{% block body %}

<div style="max-width: 1200px">

{% if tasks|length >=1 %}

    <h3>Mis tareas ✓</h3>

    <table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas presupuestadas</th>
            <th>Acciones</th>
        </tr>

        {% include "components/tasks.html.twig" %}
        
    </table>

{% else %}
    <h3>No hay tareas por mostrar</h3>
{% endif %}

</div>
{% endblock %}
